* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
}
li {
	list-style: none;
	overflow-x: auto;
}
.view {
	min-height: 10rem;
	max-height: 15rem;
	overflow-y: auto;
}
.box {
	width: 100%;
	max-width: 40rem;
}

.task {
	text-transform: capitalize;
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: 1px solid #dee2e6;
	border-radius: 5px;
}
